.dropdown-item{
    &:hover{
        background-color: $dark-body;
    }
}
.header-text{
    @include media-breakpoint-down(md){
        font-size: 20px;
    }
}
.country-flag{
    height: 250px;
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
    }
    @include media-breakpoint-down(lg){
        height: 150px;
    }
    @include media-breakpoint-down(md){
        height: 200px;
    }
    @include media-breakpoint-down(sm){
        height: 180px;
    }
}
.input{
    min-width: 20%;
    input[type='search']{
        border: 0;
        outline: 0;
        &::placeholder{
            color: white;
        }
    }
}
.dropdown-toggle::after {
    display: none;
}